<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.neverjp.background_task">

    <application>
        <service
            android:name=".LocationUpdatesService"
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="false"
            android:permission="" />
    </application>
</manifest>
